<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Читатели</title>
</head>
<body>

<p>Список читателей</p>

<!--<p th:if="${!people.isEmpty()}" th:text="Нет людей нахуй">Список людей пуст</p>-->
<div th:if="${people.isEmpty()}">
    <p>Список людей пуст</p>
</div>

<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName() + ', ' + person.getAge()}">user</a>
</div>

<br/>
<hr/>

<a th:href="@{/people/new}">Создать нового читателя</a>

</body>
</html>