<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение данных о книге</title>
</head>
<body>
<p>Изменение данных книги:</p>
<br/>
<hr/>

<form th:method="PATCH" th:action="@{/people/{id}(id=${book.getId()})}" th:object="${book}">
<!--    <label for="name">В</label>-->
<!--    <input type="text" th:field="*{name}" id="name" name="name"/>-->
<!--    <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</p>-->
<!--    <br/>-->

<!--    <label for="age">Введите имя</label>-->
<!--    <input type="text" th:field="*{age}" id="age" name="age"/>-->
<!--    <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{age}">Name error</p>-->
<!--    <br/>-->

    <label for="title">Название книги: </label>
    <input type="text" th:value="*{title}" id="title" name="title">
    <p style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    <br/>

    <label for="author">Автор: </label>
    <input type="text" th:value="*{author}" id="author" name="author">
    <p style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>
    <br/>

    <label for="year">Год выпуска: </label>
    <input type="text" th:value="*{year}" id="year" name="year">
    <p style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></p>
    <br/>
    <hr/>

    <input type="submit" value="Обновить данные"/>
</form>

</body>
</html>