<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение данных о книге</title>
</head>
<body>
<p>Изменение данных книги:</p>
<br/>
<hr/>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">

    <label for="title">Название книги: </label>
    <input type="text" th:value="*{title}" id="title" name="title">
    <p style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    <br/>

    <label for="author">Автор: </label>
    <input type="text" th:value="*{author}" id="author" name="author">
    <p style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>
    <br/>

    <label for="year">Год выпуска: </label>
    <input type="text" th:value="*{year}" id="year" name="year">
    <p style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></p>
    <br/>

    <br/>

    <hr/>

    <input type="submit" value="Обновить данные"/>
</form>

</body>
</html>