<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание новой книги</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="title">Название: </label>
    <input type="text" th:value="*{title}" id="title" name="title">
    <p style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    <br/>

    <label for="author">Автор: </label>
    <input type="text" th:value="*{author}" id="author" name="author">
    <p style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>
    <br/>

    <label for="year">Год выпуска: </label>
    <input type="text" th:value="*{year}" id="year" name="year">
    <p style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{author}"></p>
    <br/>

    <input type="submit" value="Создать книгу!"/>
</form>

</body>
</html>