<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о книге</title>
</head>
<body>

<p th:text="'Название: ' + ${book.getTitle()}">value</p>
<p th:text="'Автор: ' + ${book.getAuthor()}">value</p>
<p th:text="'Год издания: ' + ${book.getYear()}">value</p>

<div th:if="${book.getOwner() == null}">
    <p>Эта книга еще никем не занята</p>
</div>

<div th:if="${book.getOwner() != null}">
    <p th:text="'Книга взята читателем по имени: ' + ${book.getOwner().getName()}">Книга занята</p>

    <form th:method="DELETE" th:action="@{/books/{id}/delete-owner(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>

<hr/>

<!--<form th:method="GET" th:action="@{/books/{id}/delete-owner(id=${book.getId()})}">-->
<!--    <input type="submit" value="Освободить книгу">-->
<!--</form>-->

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить книгу">
</form>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать данные книги">
</form>

<hr/>

<a th:href="@{/books}">Список книг</a>

</body>
</html>